.petit-numero{
    /* background-color: red; */
    width: 20%;
    height: 50%;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.numero{
    width: 5%;
    height: 2%;
    /* background-color: blue; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.numero-0{
    top: 12.5%;
    left: 45.8%;
    transform: rotate(-2deg);
}
.numero-32{
    top: 12.8%;
    left: 52.2%;
    transform: rotate(7.73deg);
}
.numero-15{
    top: 14%;
    left: 58.1%;
    transform: rotate(17.46deg);
}
.numero-19{
    top: 16.4%;
    left: 63.8%;
    transform: rotate(27.19deg);
}
.numero-4{
    top: 19.5%;
    left: 69.1%;
    transform: rotate(36.92deg);
}
.numero-21{
    top: 23.6%;
    left: 73.7%;
    transform: rotate(46.65deg);
}
.numero-2{
    top: 28.4%;
    left: 77.7%;
    transform: rotate(56.38deg);
}
.numero-25{
    top: 33.9%;
    left: 80.7%;
    transform: rotate(66.11deg);
}
.numero-17{
    top: 39.6%;
    left: 82.8%;
    transform: rotate(75.84deg);
}
.numero-34{
    top: 45.8%;
    left: 83.9%;
    transform: rotate(85.57deg);
}
.numero-6{
    top: 51.9%;
    left: 84%;
    transform: rotate(95.3deg);
}
.numero-27{
    top: 58%;
    left: 82.9%;
    transform: rotate(105.03deg);
}
.numero-13{
    top: 64%;
    left: 80.9%;
    transform: rotate(114.76deg);
}
.numero-36{
    top: 69.4%;
    left: 77.8%;
    transform: rotate(124.49deg);
}
.numero-11{
    top: 74.2%;
    left: 74%;
    transform: rotate(134.22deg);
}
.numero-30{
    top: 78.4%;
    left: 69.25%;
    transform: rotate(143.95deg);
}
.numero-8{
    top: 81.7%;
    left: 64%;
    transform: rotate(153.68deg);
}
.numero-23{
    top: 83.9%;
    left: 58.4%;
    transform: rotate(163.41deg);
}
.numero-10{
    top: 85.3%;
    left: 52.2%;
    transform: rotate(173.14deg);
}
.numero-5{
    top: 85.55%;
    left: 46.2%;
    transform: rotate(182.87deg);
}
.numero-24{
    top: 84.8%;
    left: 39.9%;
    transform: rotate(192.6deg);
}
.numero-16{
    top: 83%;
    left: 34%;
    transform: rotate(202.33deg);
}
.numero-33{
    top: 80.2%;
    left: 28.4%;
    transform: rotate(212.06deg);
}
.numero-1{
    top: 76.5%;
    left: 23.4%;
    transform: rotate(221.79deg);
}
.numero-20{
    top: 72%;
    left: 19%;
    transform: rotate(231.52deg);
}
.numero-14{
    top: 66.9%;
    left: 15.6%;
    transform: rotate(241.25deg);
}
.numero-31{
    top: 61.2%;
    left: 13%;
    transform: rotate(250.98deg);
}
.numero-9{
    top: 55.2%;
    left: 11.5%;
    transform: rotate(260.71deg);
}
.numero-22{
    top: 49%;
    left: 10.9%;
    transform: rotate(270.44deg);
}
.numero-18{
    top: 43%;
    left: 11.5%;
    transform: rotate(280.17deg);
}
.numero-29{
    top: 36.8%;
    left: 12.9%;
    transform: rotate(289.9deg);
}
.numero-7{
    top: 31.4%;
    left: 15.5%;
    transform: rotate(299.63deg);
}
.numero-28{
    top: 25.9%;
    left: 19%;
    transform: rotate(309.36deg);
}
.numero-12{
    top: 21.6%;
    left: 23.3%;
    transform: rotate(319.09deg);
}
.numero-35{
    top: 17.8%;
    left: 28.2%;
    transform: rotate(328.82deg);
}
.numero-3{
    top: 15.1%;
    left: 33.8%;
    transform: rotate(338.55deg);
}
.numero-26{
    top: 13.2%;
    left: 39.7%;
    transform: rotate(348.28deg);
}
